@model TaxiDinamica.Web.ViewModels.Partners.PartnerWithServicesViewModel
@{
    this.ViewData["Title"] = "Partner: " + Model.Placa;
    this.ViewData["cClass"] = "partner-details";
}
<div class="row gy-4">
    <div class="col-lg-4">
        <div class="partner-details-slider swiper-container">
            <img src="@Model.ImageUrl" alt="" class="img-fluid">
        </div>
        <br />
        <div class="partner-info">
            <h3>Información</h3>
            <ul>
                <li><strong>Placa</strong>: @Model.Placa</li>
                <li><strong>Tipo de Servicio</strong>: @Model.CategoryName</li>
                <li><strong>Ciudad</strong>: @Model.CityName</li>
                <li><strong>Conductor</strong>: @Model.DriverName</li>
                <li><strong>Número del Conductor</strong>: @Model.DriverContact</li>
            </ul>

            @if (Model.Tours.Count > 0)
            {
                <h3>Rutas</h3>
                <ul>
                    <li><strong>Hora Inicio Recorrido</strong>: @Model.Tours.First().TourStartTime</li>
                    <li><strong>Hora Fin Recorrido</strong>: @Model.Tours.First().TourEndTime</li>
                    <li><strong>Lugar Inicio Recorrido</strong>: @Model.Tours.First().TourStartAddress</li>
                    <li><strong>Lugar Fin Recorrido</strong>: @Model.Tours.First().TourEndAddress</li>
                </ul>
                <div class="partner-details-slider swiper-container">
                    <img src="@Model.Tours.First().DocTourUrl" alt="" class="img-fluid">
                </div>
                @for (int i = 0; i < Model.Tours.First().Directions.Count(); i++)
                {
                    <h3>Recorridos</h3>
                    <h4>@("Dirección " + (i + 1))</h4>
                    <ul>
                        <li><strong>Hora Inicio Recorrido</strong>: @Model.Tours.First().Directions.ElementAt(i).EstimatedStartTime</li>
                        <li><strong>Hora Fin Recorrido</strong>: @Model.Tours.First().Directions.ElementAt(i).EstimatedEndTime</li>
                        <li><strong>Dirección</strong>: @Model.Tours.First().Directions.ElementAt(i).Address</li>
                    </ul>
                }
            }

        </div>
    </div>

    <div class="col-lg-8">
        <div class="partner-description features">
            <div class="col-md-12">
                <h2>Servicios Disponibles</h2>
                <p>Selecciona el servicio que necesitas</p>
            </div>
            @foreach (var service in Model.Services.Where(x => x.Available == true))
            {
                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="200">
                    <a asp-area="" asp-controller="Appointments" asp-action="MakeAnAppointment"
                    asp-route-PartnerId="@service.PartnerId" asp-route-serviceId="@service.ServiceId">
                        <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>@service.ServiceName</h3>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

</div>